body {
    background-image: url("../Pictures/Sehrim/halepantik.jpg");
}
.navbar {
    border-bottom: 3px #28a745 solid;
} 
.carousel {
    
    height:93vh;
    /*width:100vw;*/
    object-fit: cover;
    }
    
.carousel-inner img {
    
    height:93vh;
    width: 100vw;
    object-fit: cover;
    
}
.carousel-inner {
    border-top: 3px #28a745 solid;;
}
.nav-link:hover{
    color: whitesmoke!important;

}