body {
    background-image: url("../Pictures/aksam.jpg");
}
.navbar {
    border-bottom: 3px #ffc107 solid;
} 
.my-table{
    background-color: rgba(0, 0,0, 0.0) !important;
    align-content: center;


}
.nav-link:hover{
    color: whitesmoke!important;

}