body {
    background-image: url("../Pictures/f6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.1);
}
.navbar {
    border-bottom: 3px rgba(0, 159, 170, 0.575) solid;
} 

.bg-dark {
    background-color: rgba(0, 0, 0, 0.9) !important;
}
/*#headerSection{
    background-image: url("Pictures/kristopher-roller-3SFgixAUnAU-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}*/
/*#headerSection .overlay{
    background-color: rgba(0, 0,0, 0.1);
}*/
#headerSection .row{
    height:100vh;
    text-shadow: 2px 2px 10px black;
}
#headerSection h1 {
    Color:white;
}
/*.row .my-3 {
    border-bottom: 3px rgb(0, 170, 170) solid;
}*/
.nav-link{
    transition: .5s ease;
}
.nav-link:hover{
    color: whitesmoke!important;
}
@media (max-width: 600px) {
    .mx-5 {
        margin-left: 2px!important;
        margin-right: 2px!important;
    }}
    .nobr { hyphens: manual;
        -webkit-hyphens: manual;
        -ms-hyphens: manual;
    }