body {
    background-image: url("../Pictures/f5.jpg");
    
}
#headerSection .row {
    height:20vh;
}
#bana-ulas #my-pic{
    width:40vh;
}
.img-thumbnail{
    border:none !important;
     background: transparent !important;
     box-shadow:none !important
}
.link-logo{
    height:55px;
    transition: .5s ease;

}
.link-logo:hover {
    height: 65px;

}
.navbar {
    border-bottom: 3px #c47f00 solid;
} 
.nav-link:hover{
    color: whitesmoke!important;

}